
nav a{
    height: 70px;
    width: 100px;
    background-color: rebeccapurple;
    color: aqua;
    display: block;
    text-align: center;
}
h1{
    padding: 10px;
    background-color: firebrick;
    color: bisque;
    display: inline;
}

footer a{
    display: inline-block;
    padding: 20px;
    background-color: gray;
}

h1:hover{
    /* display: none; */
    visibility: hidden;
}