* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #cfe3db;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container */
.container {
    width: 100%;
    max-width: 700px;
    padding: 20px;
}

/* Form Box */
.form-box {
    background: #eff0ee;
    padding: 30px;
    border-radius: 10px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Row (First & Last Name) */
.row {
    display: flex;
    gap: 20px;
}

/* Input Groups */
.input-group {
    margin-bottom: 15px;
    width: 100%;
}

.input-group label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 6px;
    outline: none;
}

/* Radio Buttons */
.radio-group {
    display: flex;
    gap: 20px;
}

.radio {
    border: 1px solid #aaa;
    padding: 10px;
    border-radius: 6px;
    flex: 1;
}

/* Checkbox */
.checkbox {
    margin: 15px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    background-color: #1f7a63;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #17614f;
}